@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .navSelect {
    @apply bg-gray-600;
  }

  .buttonD {
    @apply relative w-[110px] h-[25px] mt-2 text-[15px] font-inter text-[#FA812F] rounded-sm outline outline-2 outline-[#FA812F] hover:text-white z-[0];
  }

  .buttonC {
    @apply relative w-[40px] h-[40px] items-center flex justify-center mt-2 text-[15px] font-inter text-[#FA812F] rounded-sm outline outline-2 outline-[#FA812F] hover:text-white z-[0];
  }
}

/* Pseudo-element pakai CSS biasa */
.buttonD::after,
.buttonC::after {
  content: '';
  position: absolute;
  background-color: #FA812F;
  height: 25px;
  bottom: 0;
  left: 0;
  width: 0%;
  border-radius: 0.125rem;
  z-index: -1;
  transition: width 0.2s;
}

.buttonD:hover::after,
.buttonC:hover::after {
  width: 100%;
}